<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>usnm</key>
		<string>Rks764930</string>
		<key>pswd</key>
		<string>G4141</string>
	</dict>
	<key>New item - 2</key>
	<dict>
		<key>usnm</key>
		<string>aj123456</string>
		<key>pswd</key>
		<string>b4132</string>
	</dict>
	<key>New item - 3</key>
	<dict>
		<key>usnm</key>
		<string>Kb456123</string>
		<key>pswd</key>
		<string>B4561</string>
	</dict>
	<key>New item - 4</key>
	<dict>
		<key>usnm</key>
		<string>Rj3145223</string>
		<key>pswd</key>
		<string>K123441</string>
	</dict>
</dict>
</plist>
